
.wrapper{
    background-color: red;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.wrapper-top-bar{
    background-color: var(--primaryColor);
    padding: 20px;
    width: 100%;
    display: flex;
    color: var(--darkColor);
    font-size: 24px;
    align-items: center;
}

.wrapper-top-bar > span:hover {
    color: var(--lightColor);
    transition: color 350ms;

}

.wrapper-menu{
    --width: 300px;
    background-color: var(--primaryColor);
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    transition: margin-left 350ms ease-out;
    &.wrapper-menu-closed{
        background-color: var(--darkColor);
        margin-left:calc(var(--width) * -1);
    }
}

.wrapper-menu > div{
    font-size: 24px;
    margin: 10px;
    font-weight: 700;
    width: max-content;
}

.wrapper-menu > div:hover{
    border-bottom: thick solid var(--secondaryColor);
    transition: border-bottom 100ms;
}

.wrapper-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper-children{
    background-color: var(--lightColor);
    height: 100%;
    overflow-y: auto;
}
